 <!--Navbar Top Level-->
 <nav class="navbar topnav navbar-inverse" role="navigation">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left" style="position: absolute; left: 19%;">

      <li>
        <a class="navbar-brand" href="questions">Quora</a>
      </li>

      <li>
        <a class="nav-link" href="questions"><span class="fa fa-question fa-lg"></span> Quesitons</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right" style="position: absolute; right: 20%;">        

      <li>
       <a class="glyphicon glyphicon-cog" title="Settings"></a>
     </li>

     <li>
       <a title="Logout" href="logout" class="glyphicon glyphicon-log-out"></a>
     </li>

   </ul>
   
 </div>
</nav><!-- Nav End -->

<div class="container main-content">

  <form method="post" action="/questions">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h4 class="col-sm-offset-4"><label for="inputs">What is your Question?</label></h4>
          <input class="form-control input-sm" id="inputsm" type="text" name="user[question]">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" value="question" class="form-control btn btn-success"/>Post Question</button>
        </div>
      </div>
    </div>

  </form>

  <!-- Displpay Questions -->  
  <% @questions.each do |q| %>
  <div class="container" style="margin-top: 30px;">
   <div class="well">
    <div class="media">        
      <div class="media-body">

        <h4 class="media-heading"><%= q.content %></h4>   

        <p class="text-right"><%= q.user.name %></p>

        <ul class="list-inline list-unstyled">

          <!-- ((DateTime.now - q.created_at) / 3600).round -->
          <li><span><i class="glyphicon glyphicon-calendar"></i><%= TimeDifference.between(Time.current, q.created_at).in_hours %>h  </span></li>
          <li>|</li>

          <span><i class="glyphicon glyphicon-comment"></i> <%= q.answers.count %> Answers</span>
          <li>|</li>
          <li>
            <!-- This will be the voting feature. Content will be sorted in the back-end and then printed out -->
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
          </li>            
        </ul>
      </div>
    </div>

    <!-- Delete Question -->
    <% if q.user_id == current_user.id %>
    <form method="post" action="/delete_question/<%= q.id %>">          
      <button type="submit" value='delete_answer' class="form-control btn"/>Delete Question</button>
    </form>
    <% end %>
    <!-- <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i>Delete Question</a></p> -->
  </div>
</div>

<!-- Display answers -->
<% if q.answers.count != 0 %>
<% q.answers.each do |a| %>
<div class="container">
 <article class="row">

   <div class="col-md-8 col-sm-8 col-sm-offset-2">
     <div class="panel panel-default arrow left">
       <div class="panel-heading right">Answer</div>
       <div class="panel-body">
         <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i><%= a.user.name %></div>
          <time class="comment-date"><i class="fa fa-clock-o"></i> <%= a.updated_at %></time>
        </header>
        <div class="comment-post">
          <p><%= a.content %></p>
        </div>
        
        <!-- Rating bar -->
        <div class="col-sm-6">
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<% a.vote.count %>"
              aria-valuemin="0" aria-valuemax="100" style="width:50%"> 
            </div>
          </div>
        </div>

        <!-- Vote Buttons -->

        <form method="post" action="/vote_up/<%= a.id %>">          
          <button type="submit" value='vote_up' class="form-control btn"/>Vote up</button>
        </form>

        <form method="post" action="/vote_down/<%= a.id %>">          
          <button type="submit" value='vote_down' class="form-control btn"/>Vote down</button>
        </form>

        <!-- Delete answer button -->
        <% if a.user_id == current_user.id %>
        <form method="post" action="/delete_answer/<%= a.id %>">          
          <button type="submit" value='delete_answer' class="form-control btn"/>Delete Answer</button>
        </form>
        <% end %>
        <!-- <p class="text-right"><a href="#" value='< %= q.id %>' class="btn btn-default btn-sm"><i class="fa fa-reply"></i>Delete answer</a></p> -->


      </div>
    </div>
  </div>
</article>
</div>
<% end %>

<!-- Post an answer box -->
<form method="post" action="/answer">

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h6 class="col-sm-offset-4"><label for="inputs">Answer this question</label></h6>
        <input class="form-control input-sm" id="inputsm" type="text" name="user[answer]">
        <input value='<%= q.id %>' type="hidden" name="user[question_id]">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="submit" value="question" class="form-control btn btn-success"/>Answer</button>
      </div>
    </div>
  </div>

</form>
<% end %>
<% end %>
</div>

